<a href="https://colab.research.google.com/github/FelipeNunesReis/Analysis/blob/main/AnalysisRetail.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
venda = pd.read_excel('/content/varejo.xlsx')
venda.head()

,idcompra,idcanalvenda,bandeira,Data,Preço,Preço_com_frete,Nome_Departamento,estado,cliente_Log
0,393835,Mobile,A,2023-03-05,1582.560,791.280,Telefones e Celulares,SP,15042
1,411885,Mobile,A,2023-03-17,679.200,679.200,Tablets,SP,17590
2,437305,Mobile,A,2023-03-06,35.920,37.512,Bebes,SP,15478
3,440055,APP,A,2023-01-13,2239.416,2239.416,TVs e Acessorios,SP,2933
4,455795,Mobile,B,2023-03-31,1743.200,1785.112,Esporte e Lazer,RS,19790

In [3]:
venda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80228 entries, 0 to 80227
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   idcompra           80228 non-null  int64
 1   idcanalvenda       80228 non-null  object
 2   bandeira           80228 non-null  object
 3   Data               80228 non-null  datetime64[ns]
 4   Preço              79926 non-null  float64
 5   Preço_com_frete    80228 non-null  float64
 6   Nome_Departamento  80228 non-null  object
 7   estado             79926 non-null  object
 8   cliente_Log        80228 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 5.5+ MB

In [4]:
venda.groupby('idcanalvenda').idcompra.nunique()

idcanalvenda
APP             139
Aplicativo    21425
Internet      24515
Mobile        24732
Name: idcompra, dtype: int64

In [5]:
venda['idcanalvenda'] = venda['idcanalvenda'].str.replace('APP', 'Aplicativo')
venda.groupby('idcanalvenda').idcompra.nunique()

idcanalvenda
Aplicativo    21539
Internet      24515
Mobile        24732
Name: idcompra, dtype: int64

In [6]:
venda.groupby('Nome_Departamento').idcompra.nunique()

Nome_Departamento
Acessorios e Inovacoes     3548
Alimentos                     2
Ar e Ventilacao             951
Audio                      1794
Automotivo                  895
Bebes                      4531
Beleza e Saude             4626
Brinquedos                 1320
Cama, Mesa e Banho          153
Casa e Construcao           263
Cine e Foto                  11
Decoracao                   134
Eletrodomesticos          10501
Eletroportateis            9593
Esporte e Lazer             531
Ferramentas                1111
Games                       764
Informatica                5290
Instrumentos Musicais         1
Linha Industrial             86
Malas e Mochilas            114
Moda                          3
Moveis                     4175
Perfumaria                  624
Pet Shop                     43
Produtos de Limpeza         713
Relogios                    134
TV e Video                    5
TVs e Acessorios           5326
Tablets                    1770
Telefones e Celulares     14495
Utilidades Domesticas      3728
Name: idcompra, dtype: int64

In [7]:
venda.groupby('estado').idcompra.nunique()

estado
AC       10
AL      461
AM       15
AP        3
BA     2028
CE     1007
DF     1902
ES     1254
GO     1603
MA      129
MG    10538
MT      510
PA      108
PB      536
PE     1632
PI      247
PR     2754
RJ    16213
RN      463
RO       15
RR        7
RS     4099
SC     1932
SE      340
SP    25962
TO      101
Name: idcompra, dtype: int64

In [8]:
venda['Nome_Departamento'] = venda['Nome_Departamento'].str.replace(' ', '_')
venda.groupby('Nome_Departamento').idcompra.nunique()

Nome_Departamento
Acessorios_e_Inovacoes     3548
Alimentos                     2
Ar_e_Ventilacao             951
Audio                      1794
Automotivo                  895
Bebes                      4531
Beleza_e_Saude             4626
Brinquedos                 1320
Cama,_Mesa_e_Banho          153
Casa_e_Construcao           263
Cine_e_Foto                  11
Decoracao                   134
Eletrodomesticos          10501
Eletroportateis            9593
Esporte_e_Lazer             531
Ferramentas                1111
Games                       764
Informatica                5290
Instrumentos_Musicais         1
Linha_Industrial             86
Malas_e_Mochilas            114
Moda                          3
Moveis                     4175
Perfumaria                  624
Pet_Shop                     43
Produtos_de_Limpeza         713
Relogios                    134
TV_e_Video                    5
TVs_e_Acessorios           5326
Tablets                    1770
Telefones_e_Celulares     14495
Utilidades_Domesticas      3728
Name: idcompra, dtype: int64

In [11]:
vendas_sem_nulo = venda.dropna()
vendas_sem_nulo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 79926 entries, 0 to 80227
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   idcompra           79926 non-null  int64
 1   idcanalvenda       79926 non-null  object
 2   bandeira           79926 non-null  object
 3   Data               79926 non-null  datetime64[ns]
 4   Preço              79926 non-null  float64
 5   Preço_com_frete    79926 non-null  float64
 6   Nome_Departamento  79926 non-null  object
 7   estado             79926 non-null  object
 8   cliente_Log        79926 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 6.1+ MB

In [13]:
venda['estado'].fillna("MS", inplace = True)

In [15]:
venda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80228 entries, 0 to 80227
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   idcompra           80228 non-null  int64
 1   idcanalvenda       80228 non-null  object
 2   bandeira           80228 non-null  object
 3   Data               80228 non-null  datetime64[ns]
 4   Preço              79926 non-null  float64
 5   Preço_com_frete    80228 non-null  float64
 6   Nome_Departamento  80228 non-null  object
 7   estado             80228 non-null  object
 8   cliente_Log        80228 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 5.5+ MB

In [17]:
media_preco = venda['Preço'].mean()
venda ['Preço'].fillna(media_preco, inplace = True)

<ipython-input-17-7976736c1945>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  venda ['Preço'].fillna(media_preco, inplace = True)

In [18]:
media_preco

906.5891285439033

In [19]:
venda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80228 entries, 0 to 80227
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   idcompra           80228 non-null  int64
 1   idcanalvenda       80228 non-null  object
 2   bandeira           80228 non-null  object
 3   Data               80228 non-null  datetime64[ns]
 4   Preço              80228 non-null  float64
 5   Preço_com_frete    80228 non-null  float64
 6   Nome_Departamento  80228 non-null  object
 7   estado             80228 non-null  object
 8   cliente_Log        80228 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 5.5+ MB

In [20]:
venda.head()

,idcompra,idcanalvenda,bandeira,Data,Preço,Preço_com_frete,Nome_Departamento,estado,cliente_Log
0,393835,Mobile,A,2023-03-05,1582.560,791.280,Telefones_e_Celulares,SP,15042
1,411885,Mobile,A,2023-03-17,679.200,679.200,Tablets,SP,17590
2,437305,Mobile,A,2023-03-06,35.920,37.512,Bebes,SP,15478
3,440055,Aplicativo,A,2023-01-13,2239.416,2239.416,TVs_e_Acessorios,SP,2933
4,455795,Mobile,B,2023-03-31,1743.200,1785.112,Esporte_e_Lazer,RS,19790

In [21]:
venda.describe()

,idcompra,Data,Preço,Preço_com_frete,cliente_Log
count,80228.000000,80228,80228.000000,80228.000000,80228.000000
mean,251001.882448,2023-03-02 02:53:27.458742528,906.589129,908.619823,13935.464676
min,0.000000,2023-01-02 00:00:00,6.320000,6.320000,1.000000
25%,126835.000000,2023-02-01 00:00:00,147.920000,150.706000,6920.750000
50%,251760.000000,2023-03-02 00:00:00,532.448000,535.120000,13938.000000
75%,375925.000000,2023-04-01 00:00:00,1199.200000,1215.240000,20918.000000
max,723410.000000,2023-04-30 00:00:00,14439.240000,14439.240000,27982.000000
std,144272.920296,NaN,1057.611490,1057.583101,8065.215581